honeycomb/honeycomb.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="options" type="optionsType"/>

    <xs:complexType name="jvmoptionsType">
        <xs:sequence>
            <xs:element name="jvmoption" maxOccurs="unbounded" minOccurs="0" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="adapteroptionType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="adapteroptionsType">
        <xs:sequence>
            <xs:element type="adapteroptionType" name="adapteroption" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="optionsType">
        <xs:sequence>
            <xs:element type="jvmoptionsType" name="jvmoptions"/>
            <xs:element type="adapteroptionsType" name="adapteroptions"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>